
<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>TITLE: An introduction to breast cancer pathology</title>
  </head>
  <body>
    <header>
      <h1>BODY: An introduction to breast cancer pathology</h1>
      <nav>
	<ul>
	  <li><a hef="{{site.baseurl}}/index.html">Home</a></li>
	  <li><a hef="{{site.baseurl}}/categories.html">Categories</a></li>
	</ul>
      </nav>
    </header>

    <main>
      {{content}}
    </main>

    <footer>
      <p>©</p>
    </footer>
  </body>
</html>
