<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>TITLE: An introduction to breast cancer pathology</title>
    <link href="{{site.baseirl}}/css/common.css" rel="stylesheet">
    
  </head>
  <body>
    <header>
      <h1>BODY: An introduction to breast cancer pathology</h1>
      {% include nav.html navclass='nav-top' %}
    </header>

    <main>
      {{content}}
    </main>

    <footer>
      {% include nav.html navclass='nav-btm' %}
      <p>©</p>
    </footer>
  </body>
</html>
